:root {
  /* Farbvariablen */
  --color-primary: #000000; /* Primärfarbe */
  --color-secondary: #ff0000; /* Sekundärfarbe */
  --color-tertiary: #fbef11c2; /* Tertiärfarbe */
  --color-text: #ffffff; /* Textfarbe */
  --color-gradient: linear-gradient(to right, var(--color-tertiary), var(--color-secondary),#fff2004b); /* Farbverlauf */
}

/* Allgemeine Stile */
* {
  box-sizing: border-box;  
  font-family: monospace;
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--color-gradient); /* Hintergrundfarbe mit Farbverlauf */
}

.container {
  color: #f9f9f9;
  max-width: 800px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-gradient); /* Hintergrundfarbe mit Farbverlauf */
  display: flexbox;
}

/* Header */
header {
  background-color: var(--color-primary); /* Hintergrundfarbe des Headers */
  color: #ffffff; /* Textfarbe des Headers */
  padding: 20px;
  text-align: center;
}

.header-background {
  /* Hintergrundbild des Headers */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("img/Deliberate_11_barbecue_grill_with_a_lot_of_meet_and_nice_sunse_1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  overflow: hidden;
  pointer-events: none;
  animation: zoomEffect 60s linear infinite;
}

@keyframes zoomEffect {
  /* Animation für den Zoom-Effekt des Hintergrundbildes */
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100px;
}

header h1 {
  display: flexbox;
  margin: 0;
}

/* Hauptinhalt */
.main-content {
  display: flexbox;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 0px;
}

.recipe-form,
.recipe-item,
.favorites-list {
  display: block;
  background-color: #000000d1; /* Hintergrundfarbe der Rezeptliste, des Rezeptformulars, der Rezeptelemente und der Favoritenliste */
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten um die Rezeptliste, das Rezeptformular, die Rezeptelemente und die Favoritenliste */
}

.recipe-item ul {
  margin-top: 50px; /* Zeilenabstand von 3 Pixeln */
  margin-bottom: 30px;
}

.recipe-item ul li {
  padding-bottom: 15px; /* Abstand zwischen den Schritten */
}
.recipe-item p {
  font-size: 20px ;
}
.recipe-item h2 {
  font-size: 25px ;
}

.recipe-item button {
  font-size: 16px;
  font-weight:bold ;
  margin: 5px ;
  background-color: #FFD166;
}

.recipe-form h2 {
  font-size: 25px;
  margin-top: 0;
}

.recipe-form label {
  display: block;
  margin-top: 20px;
  font-size: large;
  color: var(--color-text); /* Textfarbe des Formulars */
}

.recipe-form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff; /* Hintergrundfarbe des Auswahlfeldes */
  color: #000000; /* Textfarbe des Auswahlfeldes */
}

.recipe-form textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff; /* Hintergrundfarbe des Textfeldes */
  color: #000000; /* Textfarbe des Textfeldes */
}

.recipe-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff; /* Hintergrundfarbe des Eingabefeldes */
  color: #000000; /* Textfarbe des Eingabefeldes */
}

.recipe-form button {
  margin-top: 20px;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-secondary); /* Hintergrundfarbe des Buttons */
  color: #fff; /* Textfarbe des Buttons */
  cursor: pointer;
  width: 100%;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.star {
  font-size: 24px;
  color: #FFD166; /* Farbe der Sterne */
  cursor: pointer;
}

.star.checked {
  color: #FF6B6B; /* Farbe der ausgefüllten Sterne */
}

.search-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-container input {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary); /* Hintergrundfarbe des Suchfeldes */
  color: #ffffff; /* Textfarbe des Suchfeldes */
}

.favorites-list {
  margin-top: 50px;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  margin-left: 0px;
  position: relative;

}
.favorites-list:empty {
  display: none;
}

.favorites-list:not(:empty)::before {
  content: "Favoriten";
  padding: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
}

.favorites-list {
  position: relative;
}

.favorites-heading {
  display: flexbox;
  position: absolute;
  top: -30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}




.favorites-list .favorite-item {
  background-color: #0000009e; /* Hintergrundfarbe der Favoritenliste */
  color: var(--color-text); /* Textfarbe der Favoritenliste */
  width: auto;
  height: auto;
  margin: 20px;
  padding:1px 1px 1px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  border-style: solid;
  border-color: #FFD166;
}

.favorites-list .favorite-item:hover {
  background-color: var(--color-tertiary); /* Hintergrundfarbe der Favoritenliste beim Hovern */
  color:black ;
}

.favorites-list .favorite-item:active {
  transform: scale(0.95); /* Skalierungseffekt beim Klicken auf ein Favoriten-Element */
}

@media screen and (min-width: 480px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }

  .search-container {
    color: #f9f9f9;
    grid-column: 1 / 3;
  }

  .recipe-form input,
  .recipe-form textarea,
  .recipe-form select {
    width: 100%;
    max-width: 100%;
  }

  .container {
    width: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .favorites-list {
    width: 100%;
  }
  .recipe-item {
    margin:0px 0px 50px 0px ;
  }
  .recipe-list {
  
    padding: 50px 0px 50px 0px;

  }

}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Cursor Fire Effect */
.cursor-fire {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-image: url('fire.gif'); 
}