:root {
  --color-primary: #000000;
  --color-secondary: #ff0000;
  --color-tertiary: #ffebb7;
  --color-text: #ffffff;
  --color-gradient: linear-gradient(to right, var(--color-tertiary), var(--color-secondary), var(--color-tertiary));
}

/* Allgemeine Stile */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--color-gradient);
}

.container {
  color: #f9f9f9;
  max-width: 1000px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-gradient);
  display: flexbox;
}

/* Header */
header {
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("img/Deliberate_11_barbecue_grill_with_a_lot_of_meet_and_nice_sunse_1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  overflow: hidden;
  pointer-events: none;
  animation: zoomEffect 60s linear infinite;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100px;
}

header h1 {
  display: flexbox;
  margin: 0;
}

/* Hauptinhalt */
.main-content {
  display: flexbox;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 0px;
}

.recipe-list,
.recipe-form,
.recipe-item,
.favorites-list {
  display: flexbox;
  background-color: #000000b3;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-form h2 {
  margin-top: 0;
}

.recipe-form label {
  display: block;
  margin-top: 20px;
  color: var(--color-text);
}

.recipe-form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color:#000000;
}

.recipe-form textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color:#000000;
}

.recipe-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color:#000000;
}

.recipe-form button {
  margin-top: 40px;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-secondary);
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: #FFD166;
  cursor: pointer;
}

.star.checked {
  color: #FF6B6B;
}

.search-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-container input {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary);
  color: #ffffff;
}
.favorites-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  margin-left: 0px;
}

.favorites-list h2 {
  margin-top: 0;
}

.favorites-list .favorite-item {
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.favorites-list .favorite-item:hover {
  background-color: var(--color-tertiary);
}

.favorites-list .favorite-item:active {
  transform: scale(0.95);
}



.favorites-list .favorite-item:hover {
  background-color: var(--color-tertiary);
}

.favorites-list .favorite-item:active {
  transform: scale(0.95);
}

@media screen and (min-width: 480px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
  
  .search-container {
    color: #f9f9f9;
    grid-column: 1 / 3;
  }
  
  .recipe-form input,
  .recipe-form textarea,
  .recipe-form select {
    width: 100%;
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .favorites-list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Cursor Fire Effect */
.cursor-fire {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 60px;
  height: 60px;
  background-image: url('fire.gif');
  background-size: contain;
  background-repeat: no-repeat;
}